PORT=3000
NODE_ENV=development

# database configuration
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_HOST=your_database_host
DB_PORT=3306
DB_NAME=your_database_name

# email configuration
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=your_email_user
SMTP_PASS=your_email_password